<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cardetail</title>
</head>
<style>
    table{
        border : 1px solid grey;
    }
    td, th{
        border : 1px solid black;
    }
</style>
<body>
    <header>
        <h2>중고자동차 성능 상태 점검 기록부</h2>
    </header>
   <table>
        <thead>
          <tr>
            <th><br></th>
            <th>상태</th>
            <th>항목/해당부품</th>
            <th>특이사항</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>주행거리 계기상태</th>
            <td>양호</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>주행거리</th>
            <td>보통</td>
            <td>90,356Km</td>
            <td></td>
          </tr>
          <tr>
            <th>배출가스</th>
            <td>매연</td>
            <td>2%</td>
            <td></td>
          </tr>
          <tr>
            <th>튜닝</th>
            <td>있음</td>
            <td>배기구</td>
            <td>기존부품보유</td>
          </tr>
          <tr>
            <th>특별이력</th>
            <td>없음</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>색상</th>
            <td>흰색</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>용도</th>
            <td>운송업</td>
            <td></td>
            <td>화물운송</td>
          </tr>
        </tbody>
   </table>
</body>
</html>