@charset "utf-8";

div#style {
    background-color :skyblue;
    }
div#pic{
    text-align : center;
    width : 50%;
    float : left;
}
div#overview{
    width : 50%;
    float : right;
}
.reset{
    clear: both;
}
.grid{
    display : grid;
    grid-template-columns: auto auto auto;
}
.grid2{
    display : grid;
    text-align : center;
    grid-template-columns: auto auto;
}
.text{
    text-align : center;
}
.ball{
    vertical-align: middle;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.topdot{
    border-top-style:dotted;
}